.fc {
  background-color: #f8f7ff;
  color: #393d3f;
}

.fc-daygrid-day {
  background-color: #f3e9fb;
}

.fc-daygrid-day-number {
  color: #393d3f !important;
}

.fc-daygrid-day-frame {
  position: relative;
  overflow: hidden;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0;
}

.fc .fc-toolbar {
  justify-content: space-evenly;
  background-color: #f8f7ff;
  color: #393d3f;
}

.fc .fc-toolbar-chunk .fc-button {
  border: none;
  background: #e7c6ff;
  color: #393d3f;
}

.fc .fc-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
