.main {
  background-color: white;
}

.side-bar {
  height: 100dvh;
  width: 202px;
  margin: 0 0;
  background-color: #C8B6FF;
}

.tab-bar {
  width: 100%;
  height: 100dvh;
}

.tab {
  height: 57px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 30px;
  margin-top: 77px;
  border-bottom: 1px solid black;
}

.tab-button {
  width: 50%;
  height: 57px;
  margin: 0 auto;
}

.user-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C8B6FF;
  border-radius: 10px;
  margin: 20px auto;
  width: 1000px;
  height: 70px;
  cursor: pointer;
}

.user-text {
  margin: 0 30px;
  font-size: 24px;
  color: black;
}

.follow-button {
  background-color: white;
  width: 80px;
  height: 35px;
  color: black;
  border: 1px solid;
  border-radius: 4px;
  margin: 0 20px;
}

.tab-button.active {
  background-color: #C8B6FF;
  border-bottom: 1px solid black;
}